/* Estilos CSS para el formulario */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  background-image: url(https://www.cybertalk.org/wp-content/uploads/2021/08/shutterstock_442428001.jpg);
  height:auto;

  background-size: cover;
}

header,
footer {
  background-color: #000300;
  color: #fff;
  padding: 20px;
  width: 100%;
}

footer {
  position:static;
  bottom:0%;
  width: 100%;
 
}

footer p {
  text-align: center;
}

#footer-dos {
  position: absolute;
  bottom:0%;
  width: 100%;

}

h1{
  color: white;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: white;
  margin-top: 20px;
  text-align: center;
}

main {
  width: 100%;
    
}

li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.container-form {
  max-width: 50%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
  background-color: #0c037e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 16px;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #4f358b;
}

span {
  color: red;
}

/* Estilos CSS para las tablas */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 30px;
 
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 5px solid #000801;
  background-color: #373faf;


}

td {
  color: #fff;
}

th {
  background-color: #0c037e;
  font-weight: bold;
  color: white;
}

.tabla-container {
  max-width: 80%;
}

.listado-container {
  max-width: 100%;
  text-align: center;
  margin-top: 80px;
}

.boton-container {
  margin-block: 30px;
}

a {
  text-decoration:none;
}

.listado-servicios a {
  color: #000500;
  font-size: 30px;
  text-align: center;
  display: list-item;
  padding: 8px;

}

